<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍲 HomePage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="bg-orange-900 font-bold text-black text-3xl p-2 h-[100px] flex">
        <div class="flex w-1/3 bg-white m-2 ">
            <div class="m-4 underline hover:text-blue-400 duration-800">
                logo place holder
            </div>
        </div>

        <div class="flex w-2/3 bg-white m-2 justify-center text-center font-serif">
            <div class="m-4 w-1/4 underline hover:text-blue-400 duration-800">
                About
            </div>
            <div class="m-4 w-1/4 underline hover:text-blue-400 duration-800">
                Menu
            </div>
            <div class="m-4 w-1/4 underline hover:text-blue-400 duration-800">
                Locations
            </div>
            <div class="m-4 w-1/4 underline hover:text-blue-400 duration-800">
                Catering
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="flex w-2/3 h-[500px] justify-center bg-gray-500 rounded-lg shadow-lg m-10 p-4 text-white">
            testing what it looks like at the moment
        </div>
    </div>
    
</body>
</html>
